# SEMANA 03
Oscar Adriano Cardenas Torres

# Temas
1. Colección de Datos
2. Estructuras Decisivas y Estructuras Repetitivas
3. Clases y Objetos
4. Funciones

# 1. Colecciones

In [59]:
# 1.1. Listas
# Es una coleccion de elementos que puede ser ordenada, modificada. etc...
# Se identifica por los corchetes
# Ejemplo: 
aula = ['Bernaola','Chipana','Gomez','Navarro']
print(aula)

['Bernaola', 'Chipana', 'Gomez', 'Navarro']

In [61]:
# tambien se puede imprimir con solo mencionar la lista
aula

['Bernaola', 'Chipana', 'Gomez', 'Navarro']

In [63]:
# Podemos extraer cada elemento por su posición
print(aula[0])
print(aula[1])

Bernaola
Chipana

In [65]:
aula[1] = 'Chavez'
aula[1]

'Chavez'

In [67]:
aula

['Bernaola', 'Chavez', 'Gomez', 'Navarro']

In [69]:
# remove se usa para eliminar elementos 
aula.remove("Gomez")
aula

['Bernaola', 'Chavez', 'Navarro']

In [71]:
len(aula)

3

In [73]:
for alumno in aula:
    print(alumno)

Bernaola
Chavez
Navarro

In [75]:
# Para invertir la lista utilizamos reverse()
# invertir NO significa ordenar en forma descendente sin invertir la lista
aula.reverse()
aula

['Navarro', 'Chavez', 'Bernaola']

In [77]:
# Para ordenar una lista utilizamos sort()
aula.sort()
aula

['Bernaola', 'Chavez', 'Navarro']

In [79]:
# 1.2 Tuplas 
# Es una colección de elementos ordenada (Ordenado significa que tiene un indice)
# no se pueden agregar elementos ni eliminar
# se identifica por los parentesis
tupla_aula = ('Bernaola','Chipana','Gomez','Navarro')
tupla_aula

('Bernaola', 'Chipana', 'Gomez', 'Navarro')

In [84]:
# Se puede extraer un elemento por su posición
tupla_aula[2]

'Gomez'

In [91]:
# Para saber la cantidad de elementos de una tupla utilizamos len()
len(tupla_aula)

4

In [97]:
# 1.3 Conjuntos
# Es una colección de elementos que no está ordenado
# (Significa que no tiene un indice)
conjunto_aula = {'Bernaola','Chipana','Gomez','Navarro'}
conjunto_aula

{'Bernaola', 'Chipana', 'Gomez', 'Navarro'}

In [101]:
# Se puede recorrer utilizando una estructura repetitiva
# Ejemplo : for 
for alumno in conjunto_aula:
    print(aula)

['Bernaola', 'Chavez', 'Navarro']
['Bernaola', 'Chavez', 'Navarro']
['Bernaola', 'Chavez', 'Navarro']
['Bernaola', 'Chavez', 'Navarro']

In [125]:
# Observacion : No se puede acceder por posicion pues no considera indexacion
#por ejemplo
conjunto_aula[2]

TypeError: 'set' object is not subscriptable

In [105]:
# Para agregar utilizamos la función add()
len(conjunto_aula)

4

In [111]:
# Para agregar elementos utilizamos la funcion add()
conjunto_aula.add("Palomino")
conjunto_aula

{'Bernaola', 'Chipana', 'Gomez', 'Navarro', 'Palomino'}

In [113]:
# Para eliminar elementos utilizamos la funcion remove()
conjunto_aula.remove("Chipana")
conjunto_aula

{'Bernaola', 'Gomez', 'Navarro', 'Palomino'}

In [129]:
# 1.4. Diccionarios 
#Es una colección de elementos, que están indexados, 
#no estan ordenados y se pueden modificar
#Son escritos entre llaves y estan formados por pares de elementos
#INDICE: VALOR
diccionario_aula = {2:'Bernaola','1':'Chipana','dos':'Gomez','3':'Navarro','0':'Palomino'}
diccionario_aula

{2: 'Bernaola',
 '1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino'}

In [135]:
# Del diccionario: diccionario_aula extraer el valor cuyo indice sea cero
diccionario_aula['0']

'Palomino'

In [137]:
# Para añadir un par de elementos al diccionario hacemos: 
diccionario_aula['20'] = "Vilca"
diccionario_aula

{2: 'Bernaola',
 '1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino',
 '20': 'Vilca'}

In [139]:
#Para eliminar un valor se utiliza pop()
# Por ejemplo, eliminar el elemento de indice dos.
diccionario_aula.pop(2)
diccionario_aula

{'1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino',
 '20': 'Vilca'}

In [141]:
diccionario_aula.pop('1')
diccionario_aula

{'dos': 'Gomez', '3': 'Navarro', '0': 'Palomino', '20': 'Vilca'}

In [143]:
# Tambien se puede eliminar utilizando del()
del(diccionario_aula["dos"])
diccionario_aula

{'3': 'Navarro', '0': 'Palomino', '20': 'Vilca'}

In [145]:
# Para recorrer todos los elementos podemos utilizar for
# En este ejemplo devuelve los limites
for indice in diccionario_aula:
    print(indice)

3
0
20

In [147]:
# Para obtener el indice y el valor de cada elemento utilizamos items()
for indice, valor in diccionario_aula.items():
    print(indice,valor)

3 Navarro
0 Palomino
20 Vilca

In [227]:
 # 1.5. Ejercicio 
# Dado una lista de [BERNAL, BERNAOLA, CABALLERO, CALDERON, CARRASCO, CENTENO, CHALQUE, CHAVEZ, CONDORI, CRUZ, PALACIOS, PALOMINO, QUISPE, RAMOS, RODAS, SILVERA, TALAVERA, TINEO, VICTORIO, VILCA, ZEA]
# Diseñar un código que muestre si el apellido de un estudiante (Ingresado por teclado) forma parte de la lista 
# tiempo: 12 minutos
lista = ['BERNAL', 'BERNAOLA', 'CABALLERO', 'CALDERON', 'CARRASCO', 'CENTENO', 'CHALQUE', 'CHAVEZ', 'CONDORI', 'CRUZ', 'PALACIOS', 'PALOMINO', 'QUISPE', 'RAMOS', 'RODAS', 'SILVERA', 'TALAVERA', 'TINEO', 'VICTORIO', 'VILCA', 'ZEA']
alumno = input ("Ingrese el alumno:")
if alumno in lista:
    print("El alumno forma parte de la lista")
else: 
    print("El alumno no forma parte de la lista")

Ingrese el alumno: ZEA

El alumno forma parte de la lista